body {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-left: 17.5%;
  padding-right: 16%;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}

div.container {
  margin: 0;
}

h1.header {
  margin-bottom: 12px;
  padding-left: 14px;
  font-size: 30px;
}

h5.subHeader {
  padding-bottom: 2px;
  padding-left: 14px;
  font-size: 12px;
  letter-spacing: -0.055px;
  color: #A6A6A6;
  border-bottom: 1px solid #DFDFDF;
}

ul#itemsTableHeader {
  padding-top: 3px;
  padding-left: 22px;
  margin-bottom: 12px;
  font-size: 14.5px;
}

#itemsTableHeaderSize {
  margin-left: 664px;
}

#itemsTableHeaderQty {
  margin-left: 50px;
}

#itemsTableHeaderPrice {
  margin-left: 144px;
}

div#itemsDiv.container.row {
  margin-left: -15px;
  border-top: 1px solid #A6A6A6;
  padding-top: 6px;
  padding-bottom: 4px;
}

img {
  margin-left: -10px;
  width: 112%;
}

div#item-info-main.col-sm {
  padding-left: 12px;
  font-size: 14px;
  padding-top: 2px;
}


li#itemStyle {
  color: #A6A6A6;
}

li#color {
  color: #A6A6A6;
  padding: 0;
}

li#itemColor {
  color: #A6A6A6;
  font-weight: bolder;
}

li.itemMods {
  font-size: 14px;
  border-left: 1px solid #A6A6A6;
  padding-left: 6px;
  padding-right: 7px;
  line-height: 10px;
}

button.btn.btn-primary.edit {
  color: black;
  background-color: transparent;
  border: none;
  padding: 0;
  padding-right: 5px;
  margin-top: 6px;
  vertical-align: 0;
  font-size: 14px;
}

button.btn.btn-primary.itemMods:hover {
  color: black;
  background-color: transparent;
  border: none;
}

#item-info-main {
  margin-top: 10px;
}

#itemsDiv > div.col-sm > button {
  border: none;
}

li {
  list-style-type: none;
  text-align: left;
  display: inline;
  padding-right: 10px;
}

div#edit-x-save {
  padding-top: 0;
}

div#size-qty-price {
  display: flex;
  padding-top: 11.5px;
}

li#itemSize {
  font-weight: bolder;
  font-size: 15.5px;
  margin-left: -272px;
}

form#form {
  padding-top: 2px;
  margin-left: -198px;
}

input#quantity {
  padding-left: 12px;
}

li#itemPrice {
  text-align: right;
  font-size: 20px;
  font-weight: bolder;
  margin-left: -18px;
  margin-right: -18px;
  padding-top: 10px;
}

div.modal-dialog.modal-dialog-centered {
  max-width: 600px;
  margin-top: -11.25%;
}

div.modal-content {
  height: 430px;
}

div.modal-body {
  display: flex;
}

button#modal-close.btn.btn-secondary {
  float: right;
  background: transparent;
  color: #A6A6A6;
  border: none;
  margin-right: -30px;
  margin-top: -10px;
}

div.modal-left.col-md {
  text-align: center;
  border-top: 7.5px solid #EFEEEE;
  margin-right: 36px;
  margin-top: 45px;
  padding-top: 30px;
  padding-left: 22px;
}

li#modal-item-price.modal-left {
  font-size: 29px;
  font-weight: bolder;
}

div#modal-style-div {
  margin-top: 29px;
}

div#modal-color-options {
  margin-top: 4px;
}

.modal-color {
  border-top: 1px solid #ffffff;
  margin-right: 12px;
}

#modal-color-choice {
  margin-top: 4px;
  color: #A6A6A6;
}

#modal-size-selection {
  margin-top: 11px;
  margin-left: 14px;
  display: flex;
}

form#modal-form {
  margin-top: -2px;
  margin-left: -4px;
}

input#modal-quantity {
  padding-left: 12px;
}

button#modal-edit {
  width: 125px;
  margin-top: 8px;
  margin-left: -10px;
  border: 1px outset #337cf6;
  border-radius: 0;
}

#modal-item-details-link {
  margin-top: 8px;
  font-size: 12px;
  letter-spacing: 0.1px;
  text-decoration: underline;
}

img#modal-item-image.modal-right {
  margin: 0;
  width: 265px;
  margin-right: 13px;
}

div#bottomDiv {
  border-top: 10px solid #EFEEEE;
  padding-top: 40px;
  display: flex;
}

div#bottomLeft {
  color: #a1a5a9;
  white-space: nowrap;
}

#questions {
  font-weight: bolder;
  font-size: 14px;
  margin-bottom: 10px;
}

#call-customer-service {
  margin-bottom: 0;
  padding-bottom: 0;
}

div#bottomRight {
  border-bottom: 2px solid #DFDFDF;
  margin-bottom: 8px;
  width: 724px;
  margin-left: 180px;
}

#promo-div {
  display: flex;
  font-family: 'Questrial', sans-serif;

  border-bottom: 2px solid #DFDFDF;
  padding-left: 20px;
  padding-bottom: 20px;
  color: #a1a5a9;
  font-size: 14px;
}

#promo {
}

#promo-input {
  margin-left: 310px;
}

div#subTotal-div {
  padding-left: 16px;
  font-size: 14px;
}

div#estimated-total-div {
  display: flex;
  margin-top: 60px;
  border-top: 2px solid #EFEEEE;
  border-bottom: 8px solid #EFEEEE;
  padding-top: 10px;
}

p#estimated-total {
  padding-top: 10px;
  padding-left: 16px;
  font-size: 18px;
  white-space: nowrap;
  line-height: 18px
}

#tax {
  font-size: 12px;
  color: #a1a5a9;
  letter-spacing: 0.075px;
}

#subTotal {
  margin-left: 420px;
  font-weight: bolder;
  font-size: 28px;
}

#checkout-div {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Questrial', sans-serif;
  /* font-family: 'Istok Web', sans-serif; */
  /* font-family: 'Varela', sans-serif; */
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

#continue-shopping {
  margin-left: auto;
  margin-top: 12px;
  margin-right: 34px;
  font-size: 15px;
  text-decoration: underline;
  letter-spacing: 0.5px;
  color: #2E2E2E;
}

#checkout-button {
  font-size: 17.5px;
  font-weight: bolder;
  letter-spacing: 1.65px;
  padding: 11px;
  padding-left: 17px;
  padding-right: 17px;
  background: #305eac;
  color: #ffffff;
  border: none;
}

#secure-checkout-div {
  display: flex;
  vertical-align: middle;
}

#lock {
  width: 22px;
  height: 27px;
  margin-left: auto;
  margin-top: -2px;
}

#secure-checkout {
  margin-left: 4px;
  font-size: 15px;
  color: #a1a5a9;
  letter-spacing: 0.25px;
  margin-bottom: 30px;
}
